* {
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
  font-family: sans-serif;
}
nav {
  background-color: white;
  padding: 10px 30px 10px 30px;
  /* border: 1px solid gray;
  border-left: none;
  border-right: none; */
}
nav.header {
  background-color: F7F7FA;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  height: 80px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}
nav ul .nav-left {
  flex: 1;
  display: inline-flex;
  margin-left: 10px;
}
img.img {
  width: 35x;
  height: 30px;
  margin: 10px;
}
h3.a {
  margin: 10px;
  margin-top: ;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: rgb(238, 130, 162);
  padding: 10px 16px;
  border-radius: 50%;
}
h3.b {
  padding-top: 8px;
  margin: 10px;
  margin-left: 20px;
  font-size: 24px;
  font-weight: 500;
  align-items: center;
}
nav div.item {
  padding: 0px;
  padding-right: 20%;
  display: inline-flex;
}
nav div.item a {
  color: gray;
  text-decoration: none;
  padding: 0px 15px;
  font-size: 20px;
}
nav ul div.item2 {
  display: inline-flex;
  padding-right: 0px;
  /* background-color: antiquewhite; */
}
nav ul div.item2 a button {
  text-decoration: none;
  padding: 5px 15px;
  font-size: 18px;
  margin: 10px;
}
.docs {
  background-color: gainsboro;
  height: 40px;
  border: none;
  border-radius: 5px;
}
.ui {
  border-block-end: revert;
  height: 40px;
}
.templates {
  background-color: #5a5b6a;
  height: 40px;
  border: none;
  border-radius: 5px;
}
b {
  color: black;
}
.templates b {
  color: white;
}
nav div li#HomeScreen {
  color: black;
  background-color: gainsboro;
  border-radius: 4px;
  padding: 8px 15px;
}
nav div li#HomeScreen a {
  color: black;
}
nav div li#Home {
  padding: 8px 15px;
}
.menu a {
  color: black;
}

/* Main  */
.main {
  padding: 2px 250px;
  width: 100%;
  height: 100%;
  background-color: F7F7FA;
}
.main-top {
  display: flex;
  justify-content: space-between;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.main-top h1{
  font-size: 60px;
}
.main h2{
  color: gray;
}
.search {
  margin-top: 17px;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.search input#search {
  width: 300px;
  height: 50px;
  background: white;
  border: solid 2px gainsboro;
  font-size: 10pt;
  float: left;
  padding-left: 45px;
  padding-right: 10px;
  border-radius: 5px;
}
.search .icon {
  position: absolute;
  color: darkgray;
  margin-left: 17px;
  margin-top: 14px;
}
div.option-middle {
  display: flex;
  padding: 50px 0px;
}
div.option-middle ul {
  font-size: 20px;
  list-style: none;
  display: inline-flex;
  padding: 0px 15px;
}
div.option-middle ul li {
  padding: 0px 15px;
  display: inline-flex;
}
div.option-middle ul li a {
  text-decoration: none;
  padding-left: 10px;
}
/* ... */
.option-setting {
  padding: 3px 10px;
  border: none;
  font-weight: 800;
  border-radius: 5px;
  box-shadow: 2px 1px 2px 1px rgb(0 0 0 / 20%), 0px 0px 0px 1px rgb(0 0 0 / 20%);
}

.icon {
  margin-left: 15px;
}
.table {
  height: 60%;
  width: 100%;
  background-color: white;
  border: 1px solid rgb(202, 200, 200);
  border-radius: 5px;
}

/* box */
.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  color: #474bff;
  background: radial-gradient(
    farthest-side,
    currentColor calc(100% - 7px),
    #0000 calc(100% - 6px) 0
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - 15px),
    #000 calc(100% - 13px)
  );
  border-radius: 50%;
  animation: spinner-sm4bhi 2s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  background: linear-gradient(currentColor 0 0) center,
    linear-gradient(currentColor 0 0) center;
  background-size: 100% 11px, 11px 100%;
  background-repeat: no-repeat;
}

.spinner::after {
  transform: rotate(45deg);
}

@keyframes spinner-sm4bhi {
  100% {
    transform: rotate(1turn);
  }
}
